{% load static %}
<!DOCTYPE html>
<html>
<body>
<h1>Details</h1><br>
<table>
    <tr>
        <th>First_Name</th>
        <th>Last_Name</th>
        <th>Stream</th>
    </tr>
    
    {% for item in results %}
    <tr  onclick="window.location='{% url 'completed' item.id %}';">
        {% if item.completed  %} 
            <td><input type="checkbox" checked ></td>
        {% else %}
             <td><input type="checkbox" unchecked ></td>
        {% endif %}
        <td>{{item.id}}</td>
        <td>{{ item.fname }}</td>
        <td>{{ item.lname }}</td>
        <td>{{ item.stream}}</td></a>
       
    </tr>
    
    {% endfor %}
</table>




</body>
</html>

