django_basics/__pycache__/
/nltk.pdf
forms_django_learn/__pycache__/
forms_django_learn/migrations/__pycache__/
forms_django_learn/migrations/0001_initial.py

forms_django_learn/migrations/0002_auto_20201020_0529.py

